.congratsContainer {
    text-align: center; 
    padding: 20px; 
  }
  
  .congratsHeading {
    color: #d2ec0f; 
    margin-bottom: 20px; 
  }
  
  .congratsImage {
    max-width: 60%; 
    height: 50%; 
    border-radius: 10px; 
  }
  .text3{
    font-style: italic;
    font-size: 50px;
    color: #0066cc;
  }